{% extends 'header.html' %} {% block content %}
{% load crispy_forms_tags %}

  <div class="col col-12 col-sm-6 col-lg-4 mb-5 px-2 pb-5 m-auto">
    <form action="" method="POST">
      {% csrf_token %}
      <h2 class="text-center">Registro de usuario</h2>
  
      {{ form | crispy }}
  
      <button class="btn btn-danger w-100 my-2" type="submit">Registrarse</button>
    </form>
    <div class="mt-5">
      <p>¿Ya esta registrado?</p>
      <a class="btn btn-success w-100" href="{% url 'login' %}">Login</a>
      <hr />
      <a class="btn btn-primary w-100" href="{% url 'home' %}">
        Volver al inicio
      </a>
    </div>
  </div>

{% endblock %}
